<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0"></section>
  <section class="section bg-gradient-default">
    <div class="container">
      <div class="card card-profile shadow mt--400">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img
                  [src]="
                    businessInfo.img
                      ? './assets/img/business/' + businessInfo.img
                      : './assets/img/business/default.png'
                  "
                  class="rounded-circle"
                />
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a
                  *ngIf="businessInfo.websiteLink"
                  class="btn btn-sm btn-default mr-4"
                  placement="top"
                  ngbTooltip="Visit website"
                  [href]="businessInfo.websiteLink"
                  target="_blank"
                  ><i class="fa fa-globe fa-lg mt-5px" aria-hidden="true"></i
                ></a>
                <a
                  class="btn btn-sm btn-default float-right"
                  placement="top"
                  ngbTooltip="Contact"
                  (click)="call(businessInfo.phone)"
                  style="color: white !important"
                  ><i class="fa fa-phone fa-lg mt-5px" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div
                class="card-profile-stats d-flex justify-content-center"
              ></div>
            </div>
          </div>
          <div
            class="text-center mt-6"
            [ngClass]="{ 'mt-7': businessInfo.websiteLink === null }"
          >
            <h3>{{ businessInfo.title }}</h3>
            <div class="h6 font-weight-300">
              <div class="row">
                <div class="col-12">
                  <a
                    style="
                      display: flex;
                      justify-content: center;
                      text-decoration: none;
                      color: inherit;
                    "
                    [href]="businessInfo.googleMapsLink"
                    target="_blank"
                  >
                    <div
                      class="google-maps-link"
                      style="width: fit-content; text-align: center"
                    >
                      {{ businessInfo.address }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>
                  {{ businessInfo.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
