.loader {
  font-size: xx-large;
  color: black;
  display: inline-block;
  font-weight: 400;
  position: relative;
}
.loader:before {
  content: "";
  animation: 10s print linear alternate infinite;
}
.loader:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes print {
  0% {
    content: "S";
  }
  5% {
    content: "Se";
  }
  10% {
    content: "Sen";
  }
  15% {
    content: "Send";
  }
  20% {
    content: "Sendi";
  }
  25% {
    content: "Sendin";
  }
  30% {
    content: "Sending";
  }
  35% {
    content: "Sending I";
  }
  40% {
    content: "Sending In";
  }
  45% {
    content: "Sending Inf";
  }
  50% {
    content: "Sending Info";
  }
  55% {
    content: "Sending Infor";
  }
  60% {
    content: "Sending Inform";
  }
  65% {
    content: "Sending Informa";
  }
  70% {
    content: "Sending Informat";
  }
  75% {
    content: "Sending Informati";
  }
  80% {
    content: "Sending Informatio";
  }
  85% {
    content: "Sending Information";
  }
  90% {
    content: "Sending Information .";
  }
  95% {
    content: "Sending Information ..";
  }
  100% {
    content: "Sending Information ...";
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .pt-lg {
    padding-top: 0 !important;
  }
}
