.mt-5px {
    margin-top: 5px;
}

.google-maps-link:hover {
    text-decoration: underline;
}

.phone-call:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filter-sort-container {
    background-color: #F4F5F7;
    padding: 0.5rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .pagination {
        flex-direction: column !important;
    }
}