<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']"
              ><img src="./assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a
            [routerLink]="['/home']"
            class="nav-link point"
            data-toggle="dropdown"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isHome() }"
              >Home</span
            >
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isConnectedFromMobile()">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isResources() }"
              >Resources</span
            >
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a
                routerLinkActive="active"
                [routerLink]="['advertisement']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-default rounded-circle text-white"
                  style="background: #172b4d !important"
                >
                  <i class="ni ni-notification-70"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-default mb-md-1">ADVERTISEMENT</h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Stay informed about our events, programs, and business
                    opportunities.
                  </p>
                </div>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['jobs']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                  style="background: #172b4d !important"
                >
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-default mb-md-1">JOBS</h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Discover the latest job opportunities available through the
                    Chamber of Commerce.
                  </p>
                </div>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['agreements']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-default rounded-circle text-white"
                  style="background: #172b4d !important"
                >
                  <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-default mb-md-1">AGREEMENTS</h5>
                  <p class="description d-none d-md-inline-block mb-0">
                    Find detailed information about our latest partnership
                    agreements and collaborations that benefit the business
                    community.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="isConnectedFromMobile()">
          <a
            routerLinkActive="active"
            [routerLink]="['advertisement']"
            class="nav-link point"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isAdvertisement() }"
              >Advertisement</span
            >
          </a>
        </li>
        <li class="nav-item" *ngIf="isConnectedFromMobile()">
          <a
            routerLinkActive="active"
            [routerLink]="['jobs']"
            class="nav-link point"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isJobs() }"
              >Jobs</span
            >
          </a>
        </li>
        <li class="nav-item" *ngIf="isConnectedFromMobile()">
          <a
            routerLinkActive="active"
            [routerLink]="['agreements']"
            class="nav-link point"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isAgreements() }"
              >Agreements</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/directory/A']"
            class="nav-link point"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isDirectory() }"
              >Directory</span
            >
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            [routerLink]="['/about-us']"
            class="nav-link point"
            data-toggle="dropdown"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span
              class="nav-link-inner--text"
              [ngClass]="{ 'navbar-current-page': isAboutUs() }"
              >About Us</span
            >
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://www.facebook.com/"
            target="_blank"
            data-toggle="tooltip"
            title="Like us on Facebook"
          >
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://www.instagram.com/"
            target="_blank"
            data-toggle="tooltip"
            title="Follow us on Instagram"
          >
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
