.mt-5px {
    margin-top: 5px;
}

.google-maps-link:hover {
    text-decoration: underline;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.nav-link.active {
    color: white !important;
    background-color: #172b4d;
}

.nav-link {
    color: #172b4d;
}

.filter-section {
    display: flex;
    flex-direction: row;
}

.sort-section {
    margin-left: auto;
}

.row-sort-filter {
    width: 100%;
    margin: 0 !important;
}

.filter-sort-container {
    background-color: #F4F5F7;
    padding: 0.5rem;
    border-radius: 1rem;
}

.justify-content-center {
    width: 100%;
}

@media (max-width: 768px) {
    .filter-section {
        flex-direction: column !important;
    }

    .sort-section-mobile {
        margin-top: 2rem;
    }

    .nav-pills:not(.nav-pills-circle) .nav-item {
        padding-right: 1rem !important;
    }
}