.display-3 {
    font-size: 2rem;
}

.google-maps-link:hover {
    text-decoration: underline;
}

.reminder {
    font-size: 1rem;
    text-align: center;
}

a:not([href]):not([tabindex]) {
    color: #fff !important;
}