<main>
  <section class="section section-lg section-nucleo-icons pb-250 pt-10rem">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Empowering Latino Businesses in Perth</h2>
          <p class="lead" style="text-align: justify">
            The Latin community in Perth is a vibrant force driving cultural
            diversity and economic growth. A Latino Chamber of Commerce empowers
            us to connect, thrive, and shape a stronger, more united business
            landscape in our city.
          </p>
        </div>
      </div>
      <div class="blur--hover">
        <a [routerLink]="['/home']" fragment="contact">
          <div class="icons-container blur-item mt-5" data-toggle="on-screen">
            <div style="align-items: center; text-align: center">
              <img src="./assets/img/perth-map-1.png" class="perth-map" />
            </div>
            <i class="fa fa-users fa-2x perth-map-icon pmi-1"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-2"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-3"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-4"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-5"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-6"></i>
            <i class="fa fa-users fa-2x perth-map-icon pmi-7"></i>
          </div>
          <span
            class="blur-hidden h3 text-default"
            style="margin-top: 15%; text-align: center"
            >Connect with the Latino Community</span
          >
        </a>
      </div>
    </div>
  </section>
  <section class="section section-lg section-lg-2">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Our Mission</h2>
          <p class="lead" style="text-align: justify">
            We aim to foster the growth and success of Latin entrepreneurs and
            businesses in Perth by providing essential resources, networking
            opportunities, and advocacy. Through collaboration and innovation,
            we seek to create a thriving ecosystem where Latino businesses can
            flourish and contribute to the broader economic and cultural fabric
            of the city.
          </p>
        </div>
      </div>
    </div>
    <div class="container pt-lg">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Our Vision</h2>
          <p class="lead" style="text-align: justify">
            To be the leading platform that represents and elevates the Latino
            business community in Perth, promoting unity, diversity, and shared
            prosperity for future generations.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section bg-gradient-default">
    <div class="container pb-100">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">What We Do</h2>
          <p class="lead text-white">
            Whether you're a seasoned entrepreneur, a new business owner, or
            simply passionate about supporting the Latin community, we invite
            you to be part of our journey. Together, we can build a brighter,
            more inclusive future for Latino businesses in Perth.
          </p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
          >
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <h5 class="text-white mt-3">Business Support:</h5>
          <p class="text-white mt-3">
            Offering workshops, mentorship programs, and tools to help
            entrepreneurs start and grow their businesses.
          </p>
        </div>
        <div class="col-lg-4">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
          >
            <i class="ni ni-world-2 text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Networking Opportunities:</h5>
          <p class="text-white mt-3">
            Creating spaces for Latino business owners to connect, collaborate,
            and exchange ideas.
          </p>
        </div>
        <div class="col-lg-4">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
          >
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
          </div>
          <h5 class="text-white mt-3">Advocacy:</h5>
          <p class="text-white mt-3">
            Representing the interests of Latino businesses and ensuring their
            voices are heard in local and regional economic decisions.
          </p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
