<main>
  <div class="position-relative">
    <section class="section">
      <div class="container pt-lg">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3 pb-50">Events Calendar</h2>
            <div class="container filter-sort-container">
              <div class="row">
                <div class="col-md-12 col-sm-12 filter-section">
                  <div
                    class="nav nav-pills"
                    [ngClass]="{
                      'justify-content-start': !isConnectedFromMobile(),
                      'justify-content-center': isConnectedFromMobile()
                    }"
                  >
                    <div
                      ngbDropdown
                      class="d-inline-block"
                      style="margin-top: 10px"
                    >
                      <button
                        type="button"
                        class="btn btn-outline-default"
                        id="dropdownBasic1"
                        ngbDropdownToggle
                      >
                        Filter events
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="filterData('All')">
                          All
                        </button>
                        <button ngbDropdownItem (click)="filterData('Today')">
                          Today
                        </button>
                        <button
                          ngbDropdownItem
                          (click)="filterData('This week')"
                        >
                          This week
                        </button>
                        <button
                          ngbDropdownItem
                          (click)="filterData('This month')"
                        >
                          This month
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    class="nav nav-pills sort-section-mobile"
                    [ngClass]="{
                      'sort-section': !isConnectedFromMobile(),
                      'justify-content-center': isConnectedFromMobile()
                    }"
                  >
                    <ul
                      ngbNav
                      #nav2="ngbNav"
                      [(activeId)]="active"
                      type="pills"
                      class="nav-pills-circle"
                      (navChange)="sortData(0)"
                    >
                      <li [ngbNavItem]="1">
                        <a ngbNavLink>
                          <span class="nav-link-icon d-block">
                            <i
                              class="fa fa-long-arrow-up"
                              aria-hidden="true"
                            ></i
                            >&nbsp;
                            <i class="fa fa-calendar" aria-hidden="true"></i
                          ></span>
                        </a>
                      </li>
                      <li [ngbNavItem]="2">
                        <a ngbNavLink>
                          <span class="nav-link-icon d-block">
                            <i
                              class="fa fa-long-arrow-down"
                              aria-hidden="true"
                            ></i
                            >&nbsp;
                            <i class="fa fa-calendar" aria-hidden="true"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container pt-sm">
            <div class="col-lg-12">
              <div
                class="row row-grid"
                style="display: flex; align-items: stretch"
              >
                <div class="col-lg-4 mt-5" *ngFor="let data of currentEvents">
                  <div
                    class="card card-lift--hover shadow border-0"
                    style="height: 100%"
                  >
                    <div class="card-body py-5" style="height: 100%">
                      <h6 class="text-primary">
                        <a
                          style="display: block; color: inherit"
                          [routerLink]="[
                            '/advertisement/info/' +
                              encryptData(data.id, data.title)
                          ]"
                          target="_blank"
                        >
                          <h6
                            class="mt-3 google-maps-link"
                            style="text-align: center"
                          >
                            <b>{{ data.title }}</b>
                          </h6>
                        </a>
                      </h6>
                      <hr />
                      <div class="row google-maps-link">
                        <a
                          style="
                            display: flex;
                            text-decoration: none;
                            color: inherit;
                          "
                          [routerLink]="[
                            '/advertisement/info/' +
                              encryptData(data.id, data.title)
                          ]"
                          target="_blank"
                        >
                          <div class="col-1">
                            <i
                              class="fa fa-calendar fa-lg mt-5px"
                              aria-hidden="true"
                            ></i>
                          </div>
                          <div class="col-10 mt--5px">
                            {{ formatDate(data.date) }}
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row pt-sm"
              *ngIf="this.currentEvents.length === 0"
              style="display: block"
            >
              <div class="text-center">
                <h4>No results found.</h4>
                <h4>Please try again.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Past Events</h2>
          </div>
          <div class="container">
            <div class="col-lg-12">
              <div
                class="row row-grid"
                style="display: flex; align-items: stretch"
              >
                <div class="col-lg-4 mt-5" *ngFor="let data of pastEvents">
                  <div
                    class="card card-lift--hover shadow border-0"
                    style="height: 100%"
                  >
                    <div class="card-body py-5" style="height: 100%">
                      <h6 class="text-primary">
                        <a
                          style="display: block; color: inherit"
                          [routerLink]="[
                            '/advertisement/info/' +
                              encryptData(data.id, data.title)
                          ]"
                          target="_blank"
                        >
                          <h6
                            class="mt-3 google-maps-link"
                            style="text-align: center"
                          >
                            <b>{{ data.title }}</b>
                          </h6>
                        </a>
                      </h6>
                      <hr />
                      <div class="row google-maps-link">
                        <a
                          style="
                            display: flex;
                            text-decoration: none;
                            color: inherit;
                          "
                          [routerLink]="[
                            '/advertisement/info/' +
                              encryptData(data.id, data.title)
                          ]"
                          target="_blank"
                        >
                          <div class="col-1">
                            <i
                              class="fa fa-calendar fa-lg mt-5px"
                              aria-hidden="true"
                            ></i>
                          </div>
                          <div class="col-10 mt--5px">
                            {{ formatDate(data.date) }}
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row pt-sm"
              *ngIf="this.pastEvents.length === 0"
              style="display: block"
            >
              <div class="text-center">
                <h4>No results found.</h4>
                <h4>Please try again.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
